#main-nav>ul>li {
    margin-right: 1rem;
}

#main-nav ul ul {
    min-width: 20rem;
}

.contents {
    max-width: 1100px;
}

.contents h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

.contents h2 {
    margin-top: 2.5rem;
}

.contents p {
    max-width: 850px;
    font-size: 1.05rem;
    line-height: 1.7;
}

div.fragment {
    border-radius: 8px;
}
